<div id="howto_actions" class="grid-2 mbm txtleft" <%= sibu_attrs %>>
  <div class="flex-container--row aic mts">
    <i class="fa fa-download bg--white pas"></i>
    <%= page.p('link_1', class: 'lh item-fluid pls') %>
  </div>
  <div class="flex-container--row aic mts">
    <i class="fa fa-file-alt bg--white pas"></i>
    <%= page.p('link_2', class: 'lh item-fluid pls') %>
  </div>
  <div class="flex-container--row aic mts">
    <i class="fa fa-question-circle bg--white pas"></i>
    <%= page.p('link_3', class: 'lh item-fluid pls') %>
  </div>
  <div class="flex-container--row aic mts">
    <i class="fa fa-at bg--white pas"></i>
    <%= page.p('link_4', class: 'lh item-fluid pls') %>
  </div>
</div>