<div class="categories_tabs pam bg--white" <%= sibu_attrs %>>
  <div class="js-tabs">
    <%= page.ul('tabs', class: 'js-tablist', 'data-existing-hx': 'h3') do |ul_elt, li_elts| %>
      <% li_elts.each_with_index do |li_elt, i| %>
        <%= page.li(li_elt, class: 'js-tablist__item', repeat: true) do |li_el| %>
          <a href="<%= "#category_#{i}" %>" class="js-tablist__link tab_<%= "category_#{i}" %>"><%= li_el['text'] %></a>
        <% end %>
      <% end %>
    <% end %>
    <%= page.wrapper('contents') do |w_elt, content_elts| %>
      <% content_elts.each_with_index do |content_elt, i| %>
        <%= page.div(content_elt, id: "category_#{i}", class: 'js-tabcontent bg--white pam', repeat: true) do %>
          <%= page.h3('content_title', class: 'flex-container--row aic mbm') do |title_elt| %>
              <i class="apidae-icon-chevronright txt--primary u-big prs"></i><%= title_elt['text'] %>
          <% end %>
          <%= page.p('content_text') %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<% content_for :page_scripts do %>
  <%= javascript_include_tag 'tabs' %>
<% end %>
