<div class="bg--white ptl" <%= sibu_attrs %>>
  <%= page.h2 'title', class: 'txtcenter' %>
  <%= page.widget('items', PostsList, class: 'posts_list grid has-gutter mtm') do |w| %>
    <% w.posts[0..2].each do |p| %>
      <div>
        <a href="<%= p['link'] %>" class="txtleft pas" target="_blank">
          <img src="<%= p.dig('_embedded', 'wp:featuredmedia', 0, 'source_url') || image_path('logo_apidae_email.png') %>" class="w100" alt="">
          <h4 class="mts lh"><%= CGI.unescapeHTML(p.dig('title', 'rendered')) %></h4>
          <p class="txtright u-bigger ma0"><i class="fas fa-chevron-circle-right txt--primary"></i></p>
        </a>
      </div>
    <% end %>
  <% end %>
</div>
