<div id="home_content">
  <section id="home_data">
    <div id="data_bg" class="w100 grid-2">
      <div class="bg--white"></div>
      <div class="bg--inverse"></div>
    </div>
    <div id="data_charts" class="w100 mw1140p center grid-2">
      <div class="plm prm">
        <div id="home_map"></div>
      </div>
      <div class="pam">
        <div id="home_charts">
          <div id="rank_chart_wrapper" class="txtcenter">
            <p class="u-uppercase txt--white u-big ma0 lh"><strong>TOP 5</strong> des déclarations d'intention</p>
            <p class="u-smaller txt--white"><em>Classement selon une échelle non-linéaire</em></p>
            <div id="rank_chart"></div>
            <button class="js-modal btn flex-container--row mtm" data-modal-prefix-class="simple-animated"
                    data-modal-content-id="all_subscriptions" data-modal-describedby-id="modal_description"
                    data-modal-title="Toutes les déclarations d'intention" data-modal-close-text="Fermer" data-modal-close-title="Fermer la fenêtre"
                    aria-haspopup="dialog" onclick="loadSubscriptions()">
              <i class="u-bigger apidae-icon-chevronrightfilled prs"></i><span>Voir toutes les déclarations d'intention</span>
            </button>
          </div>
          <div class="txtcenter mts">
            <p class="u-uppercase txt--white u-big w100 lh"><strong>Déclarations d'intention</strong> par catégorie</p>
            <div id="pie_chart_wrapper" class="flex-container pts pbs">
              <div id="pie_legend" class="flex-container--column w40 tiny-w100 small-w100 pls"></div>
              <div class="w60 tiny-w100 small-w100 pas pll">
                <div id="pie_chart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="home_figures" class="bg--primary">
    <div class="w100 mw1140p center flex-container pam">
      <div id="ratio_figure" class="w45">
        <div class="fl" style="<%= "background: linear-gradient(90deg, #FFFFFF #{amount_ratio}%, transparent #{amount_ratio}%);" %>"></div>
        <p>
          <strong class="u-bigger"><span class="nbr"><%= @total %></span></strong><br/>engagés sur un objectif de <span class="nbr">750000</span>
        </p>
      </div>
      <div class="w15">
        <p><strong class="u-bigger"><%= @count %></strong><br/>sur 250 sociétaires</p>
      </div>
      <div class="w25">
        <p class="inbl txtleft mrm countdown"><strong class="u-bigger">31/10/2020</strong><br/>fin de la 2<sup>ème</sup> levée de fonds</p>
      </div>
      <div class="w15">
        <a href="/souscrire" class="inbl btn btn--big btn--inverse">Je souscris</a>
      </div>
    </div>
  </section>
  <section id="home_video" class="bg--white">
    <video playsinline controls poster="https://static.souscription.apidae-tourisme.com/apidae-souscription-preview.png">
      <source src="https://static.souscription.apidae-tourisme.com/apidae-souscription.mp4" type="video/mp4">
    </video>
  </section>
  <section id="home_phases" class="bg--warning">
    <div class="w100 mw1140p center ptl pbl">
      <h2 class="txtcenter mbl">Je deviens sociétaire Apidae</h2>
      <div class="grid-4 txt--inverse">
        <div class="pam">
          <p class="txtcenter w75 center lh plm prm pbs">
            <i class="apidae-icon-news txt--danger"></i><br/>
            <strong class="txt--danger">étape 1</strong><br/><br/>
            <strong>Je remplis la déclaration d'intention</strong>
          </p>
        </div>
        <div class="pam home_phase">
          <p class="txtcenter w75 center lh plm prm pbs">
            <i class="apidae-icon-event txt--danger"></i><br/>
            <strong class="txt--danger">étape 2</strong><br/><br/>
            <strong>Je valide le bulletin de souscription</strong>
          </p>
        </div>
        <div class="pam home_phase">
          <p class="txtcenter w75 center lh plm prm pbs">
            <i class="fas fa-donate txt--danger"></i><br/>
            <strong class="txt--danger">étape 3</strong><br/><br/>
            <strong>Je dépose les fonds sur le compte de la Scic SA</strong>
          </p>
        </div>
        <div class="pam home_phase">
          <p class="txtcenter w75 center lh plm prm pbs">
            <i class="fas fa-landmark txt--danger"></i><br/>
            <strong class="txt--danger">étape 4</strong><br/><br/>
            <strong>Je suis admis en tant que sociétaire de la Scic SA</strong>
          </p>
        </div>
      </div>
      <div class="txtcenter mtm">
        <a href="/souscrire" class="btn btn--big btn--danger">Je souscris</a>
      </div>
    </div>
  </section>
  <section id="home_why">
    <div class="w100 mw1140p center ptl pbm">
      <h2 class="txtcenter mtl">Pourquoi souscrire ?</h2>
      <div class="grid has-gutter-xl">
        <div>
          <a href="/acteurs-coordinateurs-territoriaux" class="txtcenter pam">
            <%= render 'shared/hexa_img', image: 'ot.jpg', width: '80%' %>
            <h3 class="lh u-uppercase mts mbs h4-like">Acteurs et coordinateurs territoriaux</h3>
            <i class="u-biggest apidae-icon-chevronrightfilled txt--danger tiny-hidden small-hidden"></i>
          </a>
        </div>
        <div>
          <a href="/professionnels-prives" class="txtcenter pam">
            <%= render 'shared/hexa_img', image: 'seminar.jpg', width: '80%' %>
            <h3 class="lh u-uppercase mts mbs h4-like">Fournisseurs de services et socio-professionnels</h3>
            <i class="u-biggest apidae-icon-chevronrightfilled txt--primary tiny-hidden small-hidden"></i>
          </a>
        </div>
        <div>
          <a href="/soutiens-du-reseau" class="txtcenter pam">
            <%= render 'shared/hexa_img', image: 'hands.jpg', width: '80%' %>
            <h3 class="lh u-uppercase mts mbs h4-like">Soutiens du réseau</h3>
            <i class="u-biggest apidae-icon-chevronrightfilled txt--warning tiny-hidden small-hidden"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="home_news">
    <div class="w100 mw1140p center pbl">
      <h2 class="txtcenter mtl">Actus de la Scic</h2>
      <div class="grid has-gutter mtm">
        <div>
          <a href="https://www.apidae-tourisme.com/raccourci-agency-societaire-apidae/" class="txtleft pas" target="_blank">
            <iframe src="https://www.youtube.com/embed/dSSpCFBrzCk" width="100%" height="240px" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            <h4 class="mts lh">Raccourci Agency, sociétaire Apidae</h4>
            <p class="u-small lh">
              Depuis sa création, Raccourci Agency s’est forgée une réputation d&#8217;agence innovante et « mordante »,
              en se faisant rapidement connaître dans le domaine du tourisme, l&#8217;un des secteurs d&#8217;activité
              réclamant le plus d&#8217;innovation. Raccourci Agency est sociétaire de la SCIC SA Apidae Tourisme&#8230;
            </p>
            <p class="txtright u-bigger ma0"><i class="apidae-icon-chevronrightfilled txt--primary"></i></p>
          </a>
        </div>
        <div>
          <a href="https://www.apidae-tourisme.com/aubenas-societaire-apidae/" class="txtleft pas" target="_blank">
            <img src="https://www.apidae-tourisme.com/wp-content/uploads/2020/02/temoignage-aubenas-1024x456.jpg" class="w100" alt=""/>
            <h4 class="mts lh">L&#8217;Office de Tourisme d&#8217;Aubenas, sociétaire Apidae</h4>
            <p class="u-small lh">
              L&#8217;Office de Tourisme d&#8217;Aubenas-Vals-Antraïgues en Ardèche est sociétaire de la SCIC SA Apidae
              Tourisme. Il fait partie de la catégorie d&#8217;associés des Acteurs Territoriaux et a décidé de prendre
              des parts sociales à hauteur de 1 000€. &#160; &#160; Prendre des parts sociales&#8230;
            </p>
            <p class="txtright u-bigger ma0"><i class="apidae-icon-chevronrightfilled txt--primary"></i></p>
          </a>
        </div>
        <div>
          <a href="https://www.apidae-tourisme.com/naissance-scic/" class="txtleft pas" target="_blank">
            <img src="https://www.apidae-tourisme.com/wp-content/uploads/2020/02/0-1024x632.jpg" class="w100" alt=""/>
            <h4 class="mts lh">Faire part de naissance pour Apidae Tourisme Scic SA à capital variable !</h4>
            <p class="u-small lh">
              En juillet dernier, nous vous avions annonçions la bonne nouvelle ! Le Comité Exécutif du réseau venait
              d’approuver la mise en place d’une structure juridique de type SCIC (Société Coopérative d’Intérêt Collectif),
              à créer début 2020. Pour préparer la mise en place de cette Société, le réseau a été accompagné&#8230;
            </p>
            <p class="txtright u-bigger ma0"><i class="apidae-icon-chevronrightfilled txt--primary"></i></p>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
<div id="all_subscriptions" class="is-hidden">
  <div id="subscriptions_wrapper"></div>
</div>