<section id="static_section" class="bg--primary">
  <div id="confirmation_wrapper">
    <div class="w100 mw1140p center pam">
      <h1 class="txtcenter txt--white mtl mbl tiny-ma0 lh h2-like">Vous souhaitez devenir sociétaire de Apidae Tourisme, Scic SA à capital variable ?</h1>
      <div id="howto_actions" class="grid-2 mbm txtleft">
        <div class="flex-container--row aic mts">
          <i class="fa fa-download bg--white pas"></i>
          <p class="lh item-fluid pls">Télécharger <a href="https://www.apidae-tourisme.com/wp-content/uploads/2020/02/statuts-apidae-tourisme-scic-sa-a-capital-variable.pdf" target="_blank">les statuts d’Apidae Tourisme, Scic SA à capital variable</a></p>
        </div>
        <div class="flex-container--row aic mts">
          <i class="fa fa-file-alt bg--white pas"></i>
          <p class="lh item-fluid pls">Pour faciliter et accompagner la prise de décision dans votre structure, vous pouvez télécharger <a href="https://www.apidae-tourisme.com/wp-content/uploads/2020/02/modele-deliberation-souscription-apidae-tourisme-02-2020.pdf" target="_blank">un modèle de délibération</a></p>
        </div>
        <div class="flex-container--row aic mts">
          <i class="fa fa-question-circle bg--white pas"></i>
          <p class="lh item-fluid pls">Vous avez une question ? N’hésitez à consulter notre page <a href="https://www.apidae-tourisme.com/apidae-demain/questions-frequentes/" target="_blank">“questions fréquentes”</a></p>
        </div>
        <div class="flex-container--row aic mts">
          <i class="fa fa-at bg--white pas"></i>
          <p class="lh item-fluid pls">Pour toute autre demande, merci de nous envoyer un mail à <a href="mailto:info@apidae-tourisme.com">info@apidae-tourisme.com</a></p>
        </div>
      </div>
      <div class="pam bg--white">
        <p class="txtcenter mbm u-big">La prise de parts au capital se déroule en <strong>quatre étapes obligatoires</strong> :</p>
        <h2 class="h4-like mbs txtcenter bg--danger pas">1ère étape</h2>
        <div class="pts">
          <p>
            Vous devez remplir une <a href="/souscrire" target="_blank">déclaration d’intention</a>.
          </p>
          <p>
            <strong>En fonction de la catégorie de souscripteurs à laquelle vous ou votre structure appartenez, le nombre de parts minimum sera différent. La valeur d’une part est de 100 €.</strong> Les parts sociales ne sont ni vendables, ni cessibles.<br/>
            <br/>
            <strong>Attention</strong> : les Sociétés Publiques Locales (SPL) ne sont pas autorisées à prendre de parts sociales dans une société mais les collectivités locales dont elles dépendent peuvent prendre des parts si elles le souhaitent.
          </p>
          <div class="js-tabs mtl">
            <ul class="js-tablist" data-existing-hx="h3">
              <% CATEGORIES.each_pair do |ref, cat| %>
                <li class="js-tablist__item">
                  <a href="<%= "##{ref.to_s}" %>" class="js-tablist__link tab_<%= ref %>"><%= cat[:name] %></a>
                </li>
              <% end %>
            </ul>
            <% CATEGORIES.each_pair do |ref, cat| %>
              <div id="<%= ref.to_s %>" class="js-tabcontent bg--white pam">
                <h3 class="flex-container--row aic mbm"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><%= cat[:name] %></h3>
                <p>
                  <%= cat[:desc] %><br/>
                  <strong>Nombre de parts minimum : <%= number_with_delimiter cat[:shares] %> parts soit <%= number_to_currency(cat[:amount], locale: :fr, precision: 0) %></strong>
                </p>
              </div>
            <% end %>
          </div>

          <p class="mtm">
            <strong>La déclaration d’intention ne constitue pas un engagement</strong>. Une fois le formulaire validé,
            vous recevez un mail de confirmation avec un lien permettant d’accéder à votre bulletin de souscription.
            Vous avez ainsi le temps d’officialiser la décision avec votre propre Conseil d’Administration ou votre
            gouvernance interne et de préparer la libération des fonds.
          </p>
        </div>

        <h2 class="h4-like mbs txtcenter bg--danger pas mtl">2ème étape : confirmer</h2>
        <div class="pts">
          <p>
            <strong>Vous devez confirmer votre déclaration d’intention</strong> en validant un bulletin de souscription de parts sociales.<br/>
            Le bulletin de souscription est accessible via un lien présent dans le mail de confirmation que vous avez reçu après avoir validé votre déclaration d’intention en ligne.<br/>
            <strong>Pour être pris en compte, le bulletin de souscription doit être complété et signé.</strong><br/>
            Si vous signez le bulletin en ligne, il est envoyé automatiquement lors de la validation du formulaire. Il n’est pas nécessaire de le renvoyer par mail.<br/>
            Si vous signez le bulletin manuellement, vous devez le valider en ligne et le renvoyer une fois signé, par mail à <a href="mailto:info@apidae-tourisme.com">info@apidae-tourisme.com</a>.<br/>
            <br/>
            Le bulletin de souscription est un titre de propriété, c’est un document officiel qui sert également de justificatif comptable. <strong>Aucune facture ne pourra être émise pour l’achat de parts sociales.</strong>
          </p>
        </div>

        <h2 class="h4-like mbs txtcenter bg--danger pas mtl">3ème étape : libérer les fonds</h2>
        <div class="pts">
          <p>
            Une fois le bulletin de souscription validé, un mail vous est envoyé automatiquement indiquant les modalités pour les règlements par chèque, virement ou mandat administratif.
            Les fonds correspondant au montant de la souscription doivent être libérés sur le compte bancaire d’Apidae Tourisme Scic SA à capital variable.
          </p>
        </div>
        <h2 class="h4-like mbs txtcenter bg--danger pas mtl">4ème étape : validation de la candidature au sociétariat</h2>
        <div class="pts">
          <p>
            Vous êtes officiellement sociétaire lorsque le Conseil d’Administration d’Apidae Tourisme Scic SA, à capital variable a validé votre entrée au sociétariat.<br/>
            Les Conseils d’Administration se réunissent plusieurs fois dans l’année. Pour connaître la date du prochain Conseil d’Administration, merci d’envoyer un mail à <a href="mailto:info@apidae-tourisme.com">info@apidae-tourisme.com</a>.
          </p>
        </div>

        <h2 class="h4-like mbs txtcenter pas mtl">Et ensuite ?</h2>
        <div class="pts">
          <p>
            Les sociétaires sont tenus très régulièrement informés des actualités de la Scic SA : dates et ordres du jour des Conseils d’Administration, invitations aux réunions de travail stratégiques en fonction des sujets traités, etc.<br/>
            Ils sont également convoqués une fois par an à l'Assemblée Générale Ordinaire de la société. Pour plus d’information sur le Conseil d’Administration et l’Assemblée Générale, vous pouvez <a href="https://www.apidae-tourisme.com/wp-content/uploads/2020/02/statuts-apidae-tourisme-scic-sa-a-capital-variable.pdf" target="_blank">télécharger les statuts de la société</a>.<br/>
            Une Assemblée Générale Extraordinaire est prévue le 17 juin, à Marseille, avec comme ordre du jour, la validation de nouveaux statuts, en relation avec l’arrivée prévue de nouveaux financeurs. La date et le lieu seront confirmés aux sociétaires lors de l’envoi de la convocation.<br/>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<% content_for :page_scripts do %>
  <%= javascript_include_tag 'tabs' %>
<% end %>