<div class="howto_actions txtleft bg--white pll prl pbl" <%= sibu_attrs %>>
  <div class="grid-2 has-gutter-xl">
    <div class="flex-container--row aic mtl">
      <i class="fa fa-4x fa-download bg--white pas"></i>
      <%= page.p('link_1', class: 'lh item-fluid plm') %>
    </div>
    <div class="flex-container--row aic mtl">
      <i class="fa fa-file-alt bg--white pas"></i>
      <%= page.p('link_2', class: 'lh item-fluid plm') %>
    </div>
    <div class="flex-container--row aic mtl">
      <i class="fa fa-question-circle bg--white pas"></i>
      <%= page.p('link_3', class: 'lh item-fluid plm') %>
    </div>
    <div class="flex-container--row aic mtl">
      <i class="fa fa-at bg--white pas"></i>
      <%= page.p('link_4', class: 'lh item-fluid plm') %>
    </div>
  </div>
</div>