<div class="hexa_grid bg--white pam" <%= sibu_attrs %>>
  <div class="txtcenter">
    <%= image_tag 'bee.png', class: 'title_img prvs' %><%= page.h2('title', class: 'mts mbm inbl') %>
  </div>
  <div class="grid has-gutter-xl">
    <% each_element('links') do |link_elt| %>
      <div>
        <%= page.link(link_elt, repeat: true, class: 'txtcenter pam') do |elt| %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="width: 80%;">
            <g>
              <clipPath id="circle_mask">
                <circle cx="50" cy="50" r="50" class="cls-1"/>
              </clipPath>
            </g>
            <%= page.svg_image('image', 'width' => '100', 'height' => '100', 'clip-path' => 'url(#circle_mask)') %>
          </svg>
          <h3 class="lh u-uppercase mts mbs h4-like"><%= elt['text'] %></h3>
          <i class="u-biggest fas fa-chevron-circle-right txt--<%= colors_cycle %> tiny-hidden small-hidden"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>