<% content_for :page_styles do %>
  <%= stylesheet_link_tag 'subscription', media: 'all' %>
<% end %>

<% is_new = !@subscription.persisted? %>
<%= form_for(@subscription, html: {id: 'subscription_form'}) do |f| %>
  <div class="js-tabs">
    <ul class="js-tablist" data-existing-hx="h3">
      <% if is_new %>
        <li class="js-tablist__item">
          <a href="#type" class="js-tablist__link tab_type"><span>1</span>Type de sociétaire</a>
        </li>
      <% end %>
      <li class="js-tablist__item">
        <a href="#montant" class="js-tablist__link tab_montant"><span><%= is_new ? 2 : 1 %></span><%= is_new ? 'Déclaration du montant' : 'Montant déclaré' %></a>
      </li>
      <li class="js-tablist__item">
        <a href="#infos" class="js-tablist__link tab_infos"><span><%= is_new ? 3 : 2 %></span>Mes informations</a>
      </li>
      <li class="js-tablist__item">
        <a href="#validation" class="js-tablist__link tab_validation"><span><%= is_new ? 4 : 3 %></span>Validation de ma <%= phase_label %></a>
      </li>
    </ul>
    <div id="type" class="<%= is_new ? 'js-tabcontent' : 'is-hidden' %> bg--white">
      <h3 class="flex-container--row">
        <i class="apidae-icon-chevronrightfilled txt--warning u-big prvs"></i><span>Type de sociétaire</span>
      </h3>
      <div class="flex-container mtl">
        <div class="txtright item-center u-big w15 prs">Je suis</div>
        <div class="item-fluid txtleft">
          <%= f.select(:category, subscription_categories, {prompt: 'Sélectionnez une catégorie'}, required: true,
                       id: 'category_selector', class: 'w100') %>
        </div>
      </div>
      <div id="category_descs" class="mtl">
        <% CATEGORIES.each_pair do |ref, cat| %>
          <div class="category_desc <%= ref %> is-hidden">
            <h4 class="u-uppercase txt--primary"><%= cat[:name] %></h4>
            <span class="min_amount is-hidden"><%= cat[:amount] || 100 %></span>
            <p class="pre mtm"><%= cat[:desc] %></p>
            <p class="fw500 mtm">
              Le nombre de prises de parts minimal au capital pour <em><%= cat[:name] %></em> est de <%= pluralize(cat[:shares], 'part', 'parts') %> soit un montant de <span class="nbr"><%= cat[:amount] %></span>.
            </p>
          </div>
        <% end %>
      </div>
      <div id="person_type_field" class="mtl mbs is-hidden">
        <div class="flex-container">
          <div class="txtright item-center u-big w15 prs">Je suis<sup>*</sup></div>
          <div class="item-fluid pls flex-container aic">
            <%= f.radio_button(:person_type, 'pm', id: 'person_type_pm', class: 'radio', required: true) %>
            <label for="person_type_pm">Une personne morale</label>
            <%= f.radio_button(:person_type, 'pp', id: 'person_type_pp', class: 'mlm radio', required: true) %>
            <label for="person_type_pp">Une personne physique</label>
          </div>
        </div>
      </div>
      <div class="pts plm prm txtcenter mtm">
        <i class="fas fa-info-circle prvs"></i>Les statuts de Apidae Tourisme Scic SA à capital variable sont consultables via <a href="/statuts-apidae-tourisme-scic-sa-a-capital-variable.pdf" target="_blank">ce lien</a>.
      </div>
      <div class="txtright mtl">
        <button type="button" class="btn btn--warning" onclick="nextStep('type')">Suivant</button>
      </div>
    </div>
    <div id="montant" class="js-tabcontent bg--white">
      <h3 class="flex-container--row">
        <i class="apidae-icon-chevronrightfilled txt--warning u-big prvs"></i><span><%= is_new ? 'Déclaration du montant' : 'Montant déclaré' %></span>
      </h3>
      <div class="flex-container mtl aic">
        <div class="txtright item-center u-big w40 prs">
          <%= f.number_field :amount, min: 100, step: 100, required: true, class: 'w100', placeholder: 'Montant de la souscription' %>
        </div>
        <div id="amount_desc" class="item-fluid txtleft fw500"></div>
      </div>
      <p class="mtm">1 part = 100 €</p>
      <p id="category_min"></p>
      <p id="spl_alert" class="mtm bg--danger pas lh is-hidden">
        <i class="fas fa-exclamation-circle prvs"></i>Si la structure à laquelle vous appartenez est une Société Publique Locale (SPL),
        celle-ci ne peut pas prendre de parts au capital d’une Scic SA. Cependant, la collectivité territoriale dont elle dépend peut
        devenir sociétaire si elle le souhaite.
      </p>
      <% unless is_new %>
        <div class="pts plm prm txtcenter mtm">
          <i class="fas fa-info-circle prvs"></i>Les statuts de Apidae Tourisme Scic SA à capital variable sont consultables via <a href="/statuts-apidae-tourisme-scic-sa-a-capital-variable.pdf" target="_blank">ce lien</a>.
        </div>
      <% end %>
      <div class="txtright mtl">
        <button type="button" class="btn btn--primary mrm" onclick="prevStep('montant')">Précédent</button>
        <button type="button" class="btn btn--warning" onclick="nextStep('montant')">Suivant</button>
      </div>
    </div>

    <div id="infos" class="js-tabcontent bg--white">
      <h3 class="flex-container--row">
        <i class="apidae-icon-chevronrightfilled txt--warning u-big prvs"></i><span><%= is_new ? 'Mes informations' : 'Informations déjà fournies' %></span>
      </h3>
      <% if is_new %>
        <div class="flex-container mtm person_pm_only bg--primary pts pbs plm prm">
          <p class="w100 lh mbs txtleft">Si vous êtes membre du réseau Apidae, vous pouvez utiliser la recherche ci-dessous pour pré-remplir
            certains champs du formulaire.</p>
          <div class="txtright item-center w50p prm u-bigger"><i class="apidae-icon-search txt--warning u-bigger"></i></div>
          <div class="lookup_container item-fluid"></div>
          <%= f.hidden_field :apidae_member_id %>
        </div>
      <% end %>
      <div id="infos_fields" class="flex-container--column mtl">
        <div class="flex-container mbs person_pm_only">
          <div class="txtright item-center w40 prs pls"><%= f.label :structure_name, 'Nom de la structure<sup>*</sup>'.html_safe %></div>
          <div class="w60">
            <%= f.text_field :structure_name, class: 'w100', required: true %>
          </div>
        </div>
        <div class="flex-container mbs person_pm_only">
          <div class="txtright item-center w40 prs pls"><%= f.label :siret, 'SIRET<sup>*</sup>'.html_safe %></div>
          <div class="w60">
            <%= f.text_field :siret, class: 'w100', required: true %>
          </div>
        </div>
        <div class="flex-container mbs person_pm_only">
          <div class="txtright item-center w40 prs pls"><%= f.label :ape, 'Code APE' %></div>
          <div class="w60">
            <%= f.text_field :ape, class: 'w100' %>
          </div>
        </div>
        <div class="flex-container mbs person_pm_only">
          <div class="txtright item-center w40 prs pls"><%= f.label :legal_type, 'Statut<sup>*</sup>'.html_safe %></div>
          <div class="w60">
            <%= f.select(:legal_type, legal_types, {prompt: 'Sélectionnez un statut'}, required: true, class: 'w100') %><br/>
            <%= f.text_field :legal_type_desc, class: 'w100 is-hidden', placeholder: 'Précisez le statut', required: true, disabled: 'disabled' %>
          </div>
        </div>
        <%= render "contact_form", f: f, prefix: '', contact_title: 'Représentant légal', placeholder: 'Représentant légal' %>
        <div class="flex-container mbs person_pm_only">
          <div class="txtright item-center w40 prs pls"></div>
          <div class="w60 flex-container aic">
            <%= f.check_box :is_rep, {class: 'checkbox mrs', id: 'is_rep', onclick: 'toggleRepContactForm()'} %>
            <label for="is_rep" class="item-fluid ma0">Sera le représentant permanent dans les instances</label>
          </div>
        </div>
        <div id="rep_contact_form" class="is-hidden">
          <%= render "contact_form", f: f, prefix: 'rep_', contact_title: 'Représentant permanent dans les instances',
                     placeholder: 'Représentant instances' %>
        </div>

        <div class="flex-container mbs">
          <div class="txtright item-center w40 prs pls"><%= f.label :address, 'Adresse<sup>*</sup>'.html_safe %></div>
          <div class="w60">
            <%= f.text_area :address, class: 'w100', required: true, rows: 2 %>
          </div>
        </div>
        <div class="flex-container mbs">
          <div class="txtright item-center w40 prs pls"><%= f.label :postal_code, 'Code postal<sup>*</sup>'.html_safe %></div>
          <div class="w60">
            <%= f.text_field :postal_code, class: 'w100', required: true %>
          </div>
        </div>
        <div class="flex-container mbs">
          <div class="txtright item-center w40 prs pls"><%= f.label :town, 'Commune<sup>*</sup>'.html_safe %></div>
          <div class="w60">
            <%= f.text_field :town, class: 'w100', required: true %>
          </div>
        </div>
        <div class="flex-container mbs">
          <div class="txtright item-center w40 prs pls"><%= f.label :country, 'Pays<sup>*</sup>'.html_safe %></div>
          <div class="w60">
            <%= f.select(:country, subscription_countries, {prompt: 'Sélectionnez un pays'}, required: true, class: 'w100') %>
          </div>
        </div>
        <div class="flex-container mbs">
          <div class="txtright item-center w40 prs pls"><%= f.label :sponsor, 'Parrain' %></div>
          <div class="w60">
            <%= f.select(:sponsor_id, subscription_sponsors, {prompt: 'Facultatif'}, class: 'w100') %>
          </div>
        </div>
        <% if @subscription.persisted? && @subscription.declared? %>
          <div class="flex-container mbs">
            <div class="txtright item-center w40 prs pls"><%= f.label :payment_method, 'Mode de règlement<sup>*</sup>'.html_safe %></div>
            <div class="w60 item-center">
              <%= f.radio_button(:payment_method, 'cheque', id: 'payment_cheque', class: 'radio', required: true) %>
              <label for="payment_cheque">Chèque</label>
              <%= f.radio_button(:payment_method, 'virement', id: 'payment_virement', class: 'mlm radio', required: true) %>
              <label for="payment_virement">Virement</label>
            </div>
          </div>
          <div class="flex-container mbs person_pm_only">
            <div class="txtright item-center w40 prs pls"><%= f.label :payments_count, 'Libération du montant<sup>*</sup>'.html_safe %></div>
            <div class="w60 item-center">
              <%= f.radio_button(:payments_count, 'single_payment', id: 'single_payment', class: 'radio', required: true) %>
              <label for="single_payment">En 1 fois</label>
              <%= f.radio_button(:payments_count, 'half_payment', id: 'half_payment', class: 'mlm radio', required: true) %>
              <label for="half_payment">En 2 fois (2 x 50%)</label>
            </div>
          </div>
        <% end %>
        <div class="flex-container mbm">
          <div class="txtright item-center w40 prs pls"><%= f.label :comments, 'Remarques / questions' %></div>
          <div class="w60">
            <%= f.text_area :comments, class: 'w100', rows: 3 %>
          </div>
        </div>
        <% if @subscription.persisted? && @subscription.declared? %>
          <div class="flex-container mbs">
            <div class="txtright item-center w40 prs pls"><%= f.label :signing, 'Signature'.html_safe %></div>
            <div class="w60 flex-container aic">
              <%= f.check_box :signing, {class: 'checkbox mrs', id: 'online_signing', onclick: 'toggleSignaturePad()'} %>
              <label for="online_signing" class="item-fluid ma0">J'accepte de signer mon bulletin de souscription en ligne</label>
              <div id="signing_canvas" class="is-hidden mts txtcenter">
                <div class="inbl">
                  <canvas></canvas>
                  <button type="button" onclick="clearPad()" class="mls btn--small btn--danger"><i class="fas fa-trash"></i></button>
                </div>
                <div>
                  <p class="item-fluid u-small item-center lh mbs">
                    Utilisez la zone ci-dessus pour tracer votre signature.
                    Vous pouvez également télécharger une image via le bouton ci-dessous.
                  </p>
                  <button type="button" id="download_signature" onclick="document.querySelector('#signature_file').click();" class="btn--small btn--inverse w100">
                    Télécharger une signature
                  </button>
                </div>
                <%= f.file_field :signature, accept: 'image/png,image/jpeg', class: 'is-hidden', id: 'signature_file' %>
                <%= f.hidden_field :signature_data, id: 'signature_data' %>
                <%= f.hidden_field :signed_at, id: 'subscription_signed_at' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="flex-container mtl">
        <div class="txtright item-center u-big w15 prs"><%= f.check_box :com_enabled, {class: 'checkbox'} %></div>
        <label for="subscription_com_enabled" class="item-fluid item-center txtleft lh reg">
          J'autorise Apidae Tourisme à communiquer ma prise de participation au capital sur l'ensemble de ses supports de communication
        </label>
      </div>
      <% if @subscription.persisted? && @subscription.declared? %>
        <div class="flex-container mtl">
          <div class="txtright item-center u-big w15 prs"><%= f.check_box :ack_societaire, {class: 'checkbox', required: true} %></div>
          <label for="subscription_ack_societaire" class="item-fluid item-center txtleft lh reg">
            <span class="person_pp_only">
              Je déclare vouloir devenir sociétaire d’Apidae Tourisme Scic SA à capital variable. L’entrée de tout nouveau
              sociétaire est soumise à une procédure d’agrément prévue par les statuts d’Apidae Tourisme Scic SA à capital variable.
              Si ma demande est acceptée, j’intégrerai l’une des catégories de sociétaires définies par les statuts après libération
              intégrale de chaque part souscrite.
            </span>
            <span class="person_pm_only">
              La personne morale / collectivité territoriale représentée déclare vouloir devenir sociétaire d’Apidae Tourisme
              Scic SA à capital variable. L’entrée de tout nouveau sociétaire est soumise à une procédure d’agrément prévue
              par les statuts d’Apidae Tourisme Scic SA à capital variable. Si la demande est acceptée, elle intégrera l’une
              des catégories de sociétaires définies par les statuts après libération intégrale de chaque part souscrite.
            </span>
          </label>
        </div>
        <div class="flex-container mtl">
          <div class="txtright item-center u-big w15 prs"><%= f.check_box :ack_statuts, {class: 'checkbox', required: true} %></div>
          <label for="subscription_ack_statuts" class="item-fluid item-center txtleft lh reg">
            <span class="person_pp_only">
              Je reconnais avoir pris connaissance des statuts d’Apidae Tourisme Scic SA à capital variable, en cours
              d’immatriculation au RCS de Lyon dont le siège social est situé au 11B Quai Perrache 69002 Lyon. Les statuts
              peuvent être consultés à l'adresse <a href="/statuts-apidae-tourisme-scic-sa-a-capital-variable.pdf" target="_blank">https://souscription.apidae-tourisme.com/statuts-apidae-tourisme-scic-sa-a-capital-variable.pdf</a>.
            </span>
            <span class="person_pm_only">
              La personne morale / collectivité territoriale représentée déclare avoir pris connaissance des statuts d’Apidae
              Tourisme Scic SA à capital variable, en cours d’immatriculation au RCS de Lyon dont le siège social est situé
              au 11B Quai Perrache 69002 Lyon. Les statuts peuvent être consultés à l'adresse
              <a href="/statuts-apidae-tourisme-scic-sa-a-capital-variable.pdf" target="_blank">https://souscription.apidae-tourisme.com/statuts-apidae-tourisme-scic-sa-a-capital-variable.pdf</a>.
            </span>
          </label>
        </div>
        <div class="flex-container mtl">
          <div class="txtright item-center u-big w15 prs"><%= f.check_box :ack_biens_communs, {class: 'checkbox', required: true} %></div>
          <label for="subscription_ack_biens_communs" class="item-fluid item-center txtleft lh reg">
            <span class="person_pp_only">
              En cas de régime de bien commun, je m’engage à prévenir mon/ma conjoint(e) en cas d’apport de biens communs
              et à fournir la notification de renonciation à être associé (téléchargeable à l'adresse <a href="/renonciation-souscription-apidae.pdf" target="_blank">https://souscription.apidae-tourisme.com/renonciation-souscription-apidae.pdf</a>)
            </span>
            <span class="person_pm_only">
              La personne morale / collectivité territoriale représentée déclare être habilitée à prendre cette décision
              et à engager la structure qu’elle représente.
            </span>
          </label>
        </div>
        <div class="flex-container mtl">
          <div class="txtright item-center u-big w15 prs"><%= f.check_box :ack_convocation, {class: 'checkbox', required: true} %></div>
          <label for="subscription_ack_convocation" class="item-fluid item-center txtleft lh reg">
            <span class="person_pp_only">
              J’accepte d’être convoqué(e) aux assemblées par courrier électronique, qu’Apidae Tourisme Scic SA à capital
              variable ait recours à la transmission par voie électronique en lieu et place de l’envoi postal lors de
              l’exécution des formalités de convocation, d’envoi de documents, d’informations et plus généralement d’être
              destinataire d’informations et de communications institutionnelles. Cette autorisation aura pour seul objectif
              de faciliter la gestion d’Apidae Tourisme Scic SA à capital variable, en limitant les frais de gestion et en
              économisant le papier.
            </span>
            <span class="person_pm_only">
              La personne morale / collectivité territoriale représentée accepte d’être convoquée aux assemblées par courrier
              électronique, qu’Apidae Tourisme Scic SA à capital variable ait recours à la transmission par voie électronique
              en lieu et place de l’envoi postal lors de l’exécution des formalités de convocation, d’envoi de documents,
              d’informations et plus généralement d’être destinataire d’informations et de communications institutionnelles.
              Cette autorisation aura pour seul objectif de faciliter la gestion d’Apidae Tourisme Scic SA à capital variable,
              en limitant les frais de gestion et en économisant le papier.
            </span>
          </label>
        </div>
        <div class="txtright mtl">
          <button type="button" class="btn btn--primary mrm" onclick="prevStep('infos')">Précédent</button>
          <button type="button" class="btn btn--warning" onclick="copySignature(); nextStep('infos')">Suivant</button>
        </div>
      <% else %>
        <div class="txtright mtl">
          <button type="button" class="btn btn--primary mrm" onclick="prevStep('infos')">Précédent</button>
          <button type="button" class="btn btn--warning" onclick="nextStep('infos')">Suivant</button>
        </div>
      <% end %>
    </div>
    <div id="validation" class="js-tabcontent bg--white">
      <h3 class="flex-container--row">
        <i class="apidae-icon-chevronrightfilled txt--warning u-big prvs"></i><span>Validation de ma <%= phase_label %></span>
      </h3>
      <div id="validation_msg" class="mtl txtcenter"></div>
      <div class="mtm mbs txtcenter">
        <button type="button" class="btn btn--primary mrm" onclick="prevStep('validation')">Précédent</button>
        <%= f.submit "Confirmer", class: 'btn btn--warning', data: { disable_with: "Transmission..." } %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'tabs' %>
  <%= javascript_include_tag 'subscription' %>
  <% if @subscription.persisted? && @subscription.declared? %>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            initSignatureFilePreview();
        });
    </script>
  <% end %>
<% end %>