<% content_for :included_scripts do %>
  <script>
      document.addEventListener("DOMContentLoaded", function (event) {
          if (navigator.userAgent.indexOf('MSIE') !== -1 || navigator.appVersion.indexOf('Trident/') > -1) {
              document.body.classList.add('ie_browser');
          }
      });
  </script>
<% end %>
<header class="w100">
  <%= render 'shared/header' %>
</header>
<div id="site_content" class="<%= @page.home? ? 'home_content' : 'generic_content' %>">
  <% if @page.home? %>
    <div>
      <section id="home_data">
        <div id="data_charts" class="w100 mw1140p center">
          <div id="home_map"></div>
          <div id="rank_chart_wrapper" class="txtleft ptl">
            <p class="u-uppercase u-big ma0 lh"><strong class="u-big">TOP 5</strong><br/>des déclarations<br/>d'intention</p>
            <p class="u-smaller">Classement selon une échelle non-linéaire</p>
            <div id="rank_chart"></div>
            <button class="js-modal btn btn--small mtm aic" data-modal-prefix-class="simple-animated"
                    data-modal-content-id="all_subscriptions" data-modal-describedby-id="modal_description"
                    data-modal-title="Toutes les déclarations d'intention" data-modal-close-text="Fermer" data-modal-close-title="Fermer la fenêtre"
                    aria-haspopup="dialog" onclick="loadSubscriptions()">
              <i class="u-bigger apidae-icon-chevronrightfilled prs"></i><span>Voir toutes les<br/>déclarations d'intention</span>
            </button>
          </div>
          <div id="pie_chart_container" class="txtleft mtl plm pbm">
            <p class="u-uppercase u-big ma0 lh"><strong class="u-big">Déclarations d'intention</strong><br/>par catégorie</p>
            <div id="pie_chart_wrapper">
              <div id="pie_chart"></div>
              <div id="pie_legend" class="flex-container--column"></div>
            </div>
          </div>
        </div>
      </section>
      <section id="timeline_container" class="mtm">
        <div class="w100 mw1140p center plm prm">
          <p class="u-uppercase u-big mbm lh"><strong>Montant total</strong> des déclarations d'intention</p>
          <div id="timeline_wrapper" class="flex-container">
            <div class="item-fluid">
              <div class="bg--info txtcenter txt--white">
                <span class="nbr u-bigger u-bold"><%= total_amount %></span>
              </div>
              <div id="timeline_steps" class="flex-container w100 fw500">
                <div class="flex-container lh u-uppercase">Déc.<br/>2020</div>
                <div class="flex-container u-uppercase <%= 'active' if Date.today.month == 1 %>">Jan.<br/>2021</div>
                <div class="flex-container u-uppercase <%= 'active' if Date.today.month == 2 %>">Fév</div>
                <div class="flex-container u-uppercase <%= 'active' if Date.today.month == 3 %>">Mar</div>
                <div class="flex-container u-uppercase <%= 'active' if Date.today.month == 4 %>">Avr</div>
                <div class="flex-container u-uppercase <%= 'active' if Date.today.month == 5 %>">Mai</div>
                <div class="flex-container u-uppercase <%= 'active' if Date.today.month == 6 %>">Juin</div>
                <div class="flex-container u-uppercase <%= 'active' if Date.today.month == 7 %>">Juil</div>
                <div class="flex-container u-uppercase <%= 'active' if Date.today.month == 8 %>">Aou</div>
                <div class="flex-container u-uppercase <%= 'active' if Date.today.month == 9 %>">Sep</div>
                <div class="flex-container u-uppercase <%= 'active' if Date.today.month == 10 %>">Oct</div>
                <div class="flex-container u-uppercase <%= 'active' if Date.today.month == 11 %>">Nov</div>
                <div class="flex-container u-uppercase <%= 'active' if Date.today.month == 12 %>">Déc.<br/>2021</div>
              </div>
            </div>
            <p class="u-uppercase lh pls"><strong>Objectif :<br/>700 000€</strong></p>
          </div>
        </div>
      </section>
    </div>
  <% end %>
  <section class="page_content">
    <div class="w100 mw1140p center">
      <% @page.sections.each do |s| %>
        <%= render_page_section(s, true) %>
      <% end %>
    </div>
  </section>
  <% if @page.home? %>
    <div id="all_subscriptions" class="is-hidden">
      <div id="subscriptions_wrapper"></div>
    </div>
  <% end %>
</div>
<%= render 'shared/footer' %>
