<td><span class="is-hidden"><%= s.created_at.to_i %></span><%= l(s.created_at, format: :detailed) %></td>
<td class="lh"><%= s.public_label %></td>
<td><%= s.com_enabled ? 'Non' : 'Oui' %></td>
<td><%= s.amount %></td>
<td><%= CATEGORIES[s.category.to_sym][:name] %></td>
<td><%= s.email %></td>
<td>
  <%= link_to "<i class=\"fas fa-eye#{'-slash' if s.com_enabled}\"></i>".html_safe,
              sub_path(s, 'subscription[com_enabled]': (s.com_enabled ? '0' : '1')),
              method: :patch, remote: true,
              data: {confirm: "#{s.com_enabled ? 'Anonymiser' : 'Rendre publique'} cette déclaration ?"},
              class: "btn btn--primary",
              title: (s.com_enabled ? 'Anonymiser' : 'Rendre publique') %>
</td>
