<td><span class="is-hidden"><%= s.created_at.to_i %></span><%= l(s.created_at, format: :detailed) %></td>
<td class="lh"><span class="fw500"><%= s.public_label %></span><br/><%= s.email %></td>
<td><%= s.id %></td>
<td><%= s.com_enabled ? 'Non' : 'Oui' %></td>
<td><%= s.amount %></td>
<td><%= CATEGORIES[s.category.to_sym][:name] %></td>
<td><%= t("export.subscription.status.#{s.status}") %></td>
<td>
  <%= link_to "<i class=\"fas u-bigger fa-eye#{'-slash' if s.com_enabled}\"></i>".html_safe,
              sub_path(s, 'subscription[com_enabled]': (s.com_enabled ? '0' : '1')),
              method: :patch, remote: true,
              data: {confirm: "#{s.com_enabled ? 'Anonymiser' : 'Rendre publique'} cette déclaration ?"},
              class: "btn btn--primary",
              title: (s.com_enabled ? 'Anonymiser' : 'Rendre publique') %>
  <%= link_to "<i class=\"fas u-bigger fa-file-alt\"></i>".html_safe, document_subscription_path(s),
              target: '_blank', class: 'btn btn--warning' %>
</td>
