<!DOCTYPE html>
<html>
  <head>
    <title>Apidae - Souscrivez à la nouvelle structure</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="w100">
      <%= render 'shared/header' %>
    </header>
    <div id="site_content">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
