<!DOCTYPE html>
<html>
  <head>
    <title>Souscription Apidae Tourisme</title>
    <meta charset="UTF-8">
    <meta name="description" content="Souscription Apidae Tourisme">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :page_styles %>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            if (navigator.userAgent.indexOf('MSIE') !== -1 || navigator.appVersion.indexOf('Trident/') > -1) {
                document.body.classList.add('ie_browser');
            }
        });
    </script>
  </head>

  <body>
    <header class="w100">
      <%= render 'shared/header' %>
    </header>
    <div id="site_content">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= yield :page_scripts %>
  </body>
</html>
