<!DOCTYPE html>
<html>
  <head>
    <title>Apidae - Souscrivez à la nouvelle structure</title>
    <meta charset="UTF-8">
    <meta name="description" content="Apidae - Souscrivez à la nouvelle structure">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :page_styles %>
  </head>

  <body>
    <header class="w100">
      <%= render 'shared/header' %>
    </header>
    <div id="site_content">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= yield :page_scripts %>
  </body>
</html>
